rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Helper Functions
    function isOwner(orgId) {
      return request.auth != null && request.auth.uid == orgId;
    }

    // Master Match: SurauSettings
    match /surau_settings/{orgId} {
      allow read, write: if isOwner(orgId);
      
      // Subcollection: Transactions
      match /transactions/{transactionId} {
        allow read, write: if isOwner(orgId);
      }
    }
  }
}
